
<h5 style='position:absolute;top:0px;right:0px;'>Usuario: {{usuario}}</h5>
<div style='margin:128px;'>
<h1 style='text-align:center;'>{{creador}}</h1>
<h3 style='text-align:center;'>{{carne}}</h3>
</div>


<div style='width:70%;margin:auto;'>
<ul style='list-style:none;display:block;'>
<li style='text-decoration:none;display:inline-block;argin-top:64px;padding:8px;'  ><a routerLink="/registro"      style='text-decoration:none;width:128px;border:3px solid cyan;height:128px;padding:16px;background:#001b33;color:cyan;margin:16px;' >Ingresar  Producto    </a></li>
<li style='text-decoration:none;display:inline-block;argin-top:64px;padding:8px;'  ><a routerLink="/modificar"     style='text-decoration:none;width:128px;border:3px solid cyan;height:128px;padding:16px;background:#001b33;color:cyan;margin:16px;' >Modificar Producto    </a></li>
<li style='text-decoration:none;display:inline-block;argin-top:64px;padding:8px;'  ><a routerLink="/inventario"    style='text-decoration:none;width:128px;border:3px solid cyan;height:128px;padding:16px;background:#001b33;color:cyan;margin:16px;' >Ver Inventario        </a></li>
<!--
<li style='text-decoration:none;margin-top:64px;padding:16px;'  ><a routerLink="/login"         style='text-decoration:none;width:128px;border:3px solid cyan;height:128px;padding:16px;background:#001b33;color:cyan;margin:16px;' >Login                 </a></li>
-->

</ul>
</div>

<br>

<div style='width:70%;margin:auto;'>
<ul style='list-style:none;display:block;'>
<li style='text-decoration:none;display:inline-block;argin-top:64px;padding:8px;'  ><a routerLink="/comprar"    style='text-decoration:none;width:128px;border:3px solid cyan;height:128px;padding:16px;background:#001b33;color:cyan;margin:16px;' >Comprar</a></li>
<li style='text-decoration:none;display:inline-block;argin-top:64px;padding:8px;'  ><a routerLink="/detalle"    style='text-decoration:none;width:128px;border:3px solid cyan;height:128px;padding:16px;background:#001b33;color:cyan;margin:16px;' >Detalle Factura</a></li>
</ul>
</div>

