
<a routerLink="/menu" style='color:cyan;font-size:24px;'>MENU</a>

<h5 style='position:absolute;top:0px;right:0px;'>Usuario: {{usuario}}</h5>
<h1 style='text-align:center;'>Modificar Producto</h1>

<div style='width:300px;margin:auto;'>
<div style='font-size:24px;'>ID:</div><input [(ngModel)]="p.id" name="id" placeholder='id' style='width:256px;display:inline;margin-bottom:16px;'>
<input type='submit' value='Traer Producto' (click)='getProducto(p)' style='font-size:24px;'>
</div><br>


<form action='' method='post' style='width:300px;margin:auto;'>
<div style='font-size:24px;font-weight:bold;'>ID: {{p.id}}</div>
<div style='font-size:24px;font-weight:bold;'>Nombre:          </div><input [(ngModel)]="p.nombre"        name="nombre"         placeholder='nombre'       style='width:256px;display:inline;margin-bottom:16px;'  > 
<div style='font-size:24px;font-weight:bold;'>Descripcion:     </div><input [(ngModel)]="p.descripcion"   name="descripcion"    placeholder='descripcion'  style='width:256px;display:inline;margin-bottom:16px;'  >
<div style='font-size:24px;font-weight:bold;'>Precio:          </div><input [(ngModel)]="p.precio"        name="precio"         placeholder='precio'       style='width:256px;display:inline;margin-bottom:16px;'  >
<br>

<input type='submit' value='Modificar' (click)='modificarProducto(p)'   style='font-size:24px;'>

</form>

