
<a routerLink="/menu">MENU</a>
<h5 style='position:absolute;top:0px;right:0px;'>Usuario: {{usuario}}</h5>

<input type='button' value='Recibir' (click)="getProductos()" >
<input type='button' value='Limpiar' (click)="cleanProductos()" >

<table class='table table-dark table-striped table-hover'>
<thead>
		<tr>
				<th scope='col'>ID</th>
				<th scope='col'>NOMBRE</th>
				<th scope='col'>DESCRIPCION</th>
				<th scope='col'>PRECIO</th>
				<th scope='col'>COMANDO</th>
		</tr>
</thead>

<tbody>

		<tr class='table-secondary'  *ngFor='let producto of productos' >
				<td>{{producto.id}}         </td>
				<td>{{producto.nombre}}     </td>
				<td>{{producto.descripcion}}</td>
				<td>{{producto.precio}}     </td>
				<td><input type='button' value='Eliminar' (click)="eliminarProducto(producto)"></td>
		</tr>

</tbody>
</table>

